body{
    font-family: 'Roboto', normal;
    font-family: 'Raleway', normal;

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;

    font-style: normal;
    position: relative;

    font-weight: 800;
    font-size: 18px;
    line-height: 1.27;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    line-height: 1.11;
    background: #FFFFFF;
}

/*---------Header-Topline--------------*/
.site-body {
    display: flex;
    margin: 0 auto;
}

.list{
    list-style: none;
}

.link{
text-decoration: none;
}

/*-----SHABLON-TOP-LINE-------*/
.topline {
position: absolute;
width: 1540px;
height: 72px;
left: 0px;
top: 0px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
    
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 156px;
top: 24px;
}

/*-----SHABLON-LOGO-------*/
.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;

    color: #4D5AE5;

}

.studio { 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;

    color: #2E2F42;
}


.navigation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    left: 348px;
    top: 9.5px;
    
    
}

.header-nav{ 
    flex: none;
    flex-grow: 0;

}

.studio-nav{

    color: #2E2F42;
    
}

.portfolio-nav{

    color: #2E2F42;
    
}

.contact-nav{
    color: #2E2F42;
}

.contact-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
}

.studio-nav:hover,
.portfolio-nav:hover,
.contact-nav:hover{
    color:#4D5AE5;
}

.header-mail{
position: absolute;
left: 940px;
top: 24px;
color: #434455;

}

.header-tel{
    position: absolute;
    left: 1133px;
    top: 24px;
    color: #434455;
}

.header-tel:hover,
.header-mail:hover{
    color: #4D5AE5;
}

/*-------MAIN BLACK BOX--------*/
.mainheadder{
position: absolute;
width: 1540px;
height: 603px;
left: 0px;
top: 72px;
background: #2E2F42;
}

.title{
position: absolute;
width: 492px;
height: 120px;
left: 474px;
top: 150px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.main-page-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;

    position: absolute;
    left: 635px;
    top: 395px;
    color:#4D5AE5;
    background: #F4F4FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;
    cursor: pointer;
}


.main-page-button:hover,
.main-page-button:focus,
.textbutton:hover,
.textbutton:focus{
    color: #FFFFFF;
    background-color: #4D5AE5;
} 


/*--------------Section1--------*/
.about{
color: none;
}

.abouthead {
    display: flex;
   
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    position: absolute;

    left: 156px;
    top: 795px;
}

.hhead{

    color: #2E2F42;

}

.phead{
    flex-direction: column;
    width: 264px;
height: 72px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;

letter-spacing: 0.02em;
color: #434455;

}

/*--------------Section2--------*/
.our-work{
    position: absolute;
    width: 1128px;
    height: 412px;
    left: 156px;
    top: 1019px;
}

.title-two{

flex: content;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: #2E2F42;
}

.img-wedoing{
gap: 30px;
display: flex;
padding: 0px;
position: absolute;
top: 150px;
}

/*--------------Section3--------*/
.team{
    
    position: absolute;
    width: 1640px;
    height: 732px;
    left: 0px;
    top: 1600px;
    background: #F4F4FD;
}

.title-three{
position: absolute;
left: 639px;
top: 130px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1.11;

color: #2E2F42;
}

.img-team{
    display: flex;
    gap: 32px;
    
    position: absolute;
    margin-left:-484px;
    left: 600px;
    top: 290px;  
}

.title-team{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
text-align: center;
color: #2E2F42;
}

.text-team{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

.backround-mark{
    left: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 320px;
    top: 330px;

background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.backround-tom{
    left: 452px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 320px;
    top: 330px;

background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.backround-camila{
    left: 748px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 320px;
    top: 330px;

background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.backround-daniel{
    left: 1044px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 320px;
    top: 330px;

background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

/*--------------Footer--------*/
footer{
position: absolute;
width: 1540px;
height: 310px;
left: 0px;
top: 2425px;
background: #2E2F42;
}

.logo-footer{
display: flex;
align-items: flex-start;
padding: 0px;
position: absolute;
left: 156px;
top: 100px;
}

.web-footer{
font-weight: 800;
font-size: 18px;
line-height: 1.6;
color: #4D5AE5;

}
.studio-footer{
font-weight: 800;
font-size: 18px;
line-height: 1.6;
color: #F4F4FD;

}
.footertext{
    position: absolute;
width: 264px;
height: 72px;
left: 156px;
top: 120px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.6;

letter-spacing: 0.02em;
color: #E7E9FC;
}

/*--------------PORTFOLIO--------*/

.filters{
padding-top: 11%;
padding-left: 23%;
}

.button-filters{
    margin-left: 15px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px
}

.button-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #4D5AE5;
}
.button-filters,
.button-text{
  
  display:inline-block;
  align-items: center;
   
  width: 100px;
  height: 48px;

  background: #F4F4FD;
  
  border: 1px  #E7E9FC;
  border-radius: 4px;
  cursor: pointer;

}

.button-filters:hover,
.button-filters:focus,
.button-text:hover{
    color: #FFFFFF;
    background-color: #4D5AE5;
}

/*-------MAIN CONTENT PORTFOLIO--------*/

.portfolio-content{
    position: absolute;
    width: 1128px;
    height: 420px;
    left: 156px;
    top: 288px;
    display: flex;
    flex-wrap:wrap;
    gap: 70px 20px;
}

.content-card{

width: 360px;
height: 420px;
left: 156px;
top: 288px;

/* CLOUD */

border: 0.5px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-title,
.portfolio-text{
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.02em;
    margin-left: 15px;
}

.portfolio-title{
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
/*--------------FOOTER-PORTFOLIO------------*/

.footer-portfolio{
    margin-top: -350px;

}