body{
   font-family: 'Roboto', sans-serif;
   position: relative;
   width: 1440px;
   height: 2593px;
   
   background: #FFFFFF;
}

/*---------Header-Topline--------------*/
.site-body {
    display: flex;
    margin: 0 auto;
}

.list{
    list-style: none;
}

.link{
text-decoration: none;
}

.topline {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 115px;
height: 24px;
left: 156px;
top: 24px;
}
.web {
width: 44px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.27;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
flex: none;
order: 0;
flex-grow: 0;
}

.studio {
width: 71px;
height: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.27;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
flex: none;
order: 1;
flex-grow: 0;
}


.navigation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    position: absolute;
    width: 261px;
    height: 24px;
    left: 348px;
    top: 9.5px;
    
}

.header-nav{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    flex: none;
    flex-grow: 0;

}

.studio-nav{
    width: 48px;
    height: 24px;
    color: #2E2F42;
    order: 0;
}

.portfolio-nav{
    width: 66px;
    height: 24px;
    color: #2E2F42;
    order: 1;
}

.contact-nav{
    width: 67px;
    height: 24px;
    color: #2E2F42;
    order: 2;
}

.contact-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;   
    letter-spacing: 0.02em;

    
 
}
.header-mail{
position: absolute;
width: 153px;
height: 24px;
left: 940px;
top: 24px;
color: #434455;

}

.header-tel{
    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;
    color: #434455;
}

/*-------MAIN BLACK BOX--------*/
.mainheadder{
    position: absolute;
width: 1440px;
height: 603px;
left: 0px;
top: 72px;
background: #2E2F42;
}

.title{
position: absolute;
width: 492px;
height: 120px;
left: 474px;
top: 150px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;

    position: absolute;
    width: 170px;
    height: 51px;
    left: 635px;
    top: 395px;
    background: #F4F4FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

button:focus:active,
.textbutton:active{
    color:#FFFFFF;
    background-color: #4D5AE5;
} 

.textbutton{
height: 19px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #4D5AE5;
flex: none;
order: 0;
flex-grow: 0;
}

/*--------------Section1--------*/
.about{
color: none;
}

.abouthead {
    display: flex;
   
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    position: absolute;
    width: 264px;
    height: 104px;
    left: 156px;
    top: 795px;
}

.hhead{
    flex-direction: column;
    width: 264px;
    height: 24px;
    
    /* Header 3 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    letter-spacing: 0.02em;
    
    /* NAVY BLUE */
    
    color: #2E2F42;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.phead{
    flex-direction: column;
    width: 264px;
height: 72px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;
color: #434455;

flex: none;
order: 1;
flex-grow: 0;
}

/*--------------Section2--------*/
.our-work{
    position: absolute;
    width: 1128px;
    height: 412px;
    left: 156px;
    top: 1019px;
}

.title-two{

height: 40px;
left: 559px;
top: 1019px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1.11;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: #2E2F42;
}

.pictures-two{
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 264px;
    height: 104px;
    left: 156px;
    top: 795px;
    
}

.img-wedoing{
gap: 30px;
display: flex;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 300px;
top: 150px;
}

/*--------------Section3--------*/
.team{
    position: absolute;
    width: 1440px;
    height: 732px;
    left: 0px;
    top: 1600px;
    
    background: #F4F4FD;
}

.title-three{
position: absolute;

height: 40px;
left: 639px;
top: 150px;


font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1.11;

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: #2E2F42;
}

.img-team{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    
    position: absolute;
    width: 264px;
    height: 380px;
    left: 600px;
    top: 290px;  
}

.title-team{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.text-team{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}

.backround-mark{
    left: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 320px;
    top: 330px;

background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.backround-tom{
    left: 452px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 320px;
    top: 330px;

background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.backround-camila{
    left: 748px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 320px;
    top: 330px;

background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.backround-daniel{
    left: 1044px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 320px;
    top: 330px;

background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

/*--------------Footer--------*/
footer{
position: absolute;
width: 1440px;
height: 310px;
left: 0px;
top: 2425px;
background: #2E2F42;
}

.logo-footer{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 115px;
height: 22px;
left: 156px;
top: 100px;
}
.web-footer{
    width: 44px;
height: 22px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;


display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
flex: none;
order: 0;
flex-grow: 0;
}
.studio-footer{
    width: 71px;
height: 22px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
flex: none;
order: 1;
flex-grow: 0;
}
.footertext{
    position: absolute;
width: 264px;
height: 72px;
left: 156px;
top: 120px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;
color: #E7E9FC;
}

/*--------------PORTFOLIO--------*/
.main-body{
    width: 1440px;
    height: 593px;
}
.nav-portfolio{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 586px;
    height: 48px;
    left: 427px;
    top: 210px;
}
.button-filters{
box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 116px;
height: 48px;
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
flex: none;
order: 1;
flex-grow: 0;
}

.all,
.web-site,
.app,
.design,
.marketing {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;


color: #4D5AE5;
}



.all:hover,
.web-site:hover,
.app:hover,
.design:hover,
.marketing:hover {
    color: #FFFFFF;
}
.button-filters:hover{
    background-color: #4D5AE5;
    cursor: pointer;
}

/*--------------Row Selection1--------*/
.row-one{
position: absolute;
width: 1128px;
height: 420px;
left: 650px;
top: 325px;
}

.img-row-one{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    
   
    width: 264px;
    height: 380px;
    left: 600px;
    top: 290px;  
}

.img-text{
    position: absolute;
width: 296px;
height: 96px;
left: -20px;
top: 40px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}
.row-one-title{
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;

color: #2E2F42;

flex: none;
order: 0;
flex-grow: 0;
}

.row-one-text{
 height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

letter-spacing: 0.02em;

color: #434455;

flex: none;
order: 1;
flex-grow: 0;
}

.backround-row-banking{
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    width: 360px;
    height: 125px;
    left: -440px;
    top: 354px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}
.backround-row-cashless{
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    width: 360px;
    height: 125px;
    left: -48px;
    top: 354px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}
.backround-row-meditation{
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    width: 360px;
    height: 125px;
    left: 344px;
    top: 354px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}

/*--------------Row Selection2--------*/

.row-two{
    position: absolute;
width: 1128px;
height: 420px;
left: 160px;
top: 756px;
}

.img-row-two{
display: flex;
justify-content: center;
align-items: flex-start;
padding: 0px 16px;
gap: 8px;
width: 400px;
height: 56px;

position: absolute;

left: 405px;
top: 72px;
}

.backround-row-taxi{
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    width: 360px;
    height: 125px;
    left: -355px;
    top: 300px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}

.backround-row-screen{
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    width: 360px;
    height: 125px;
    left: 30px;
    top: 300px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}

.backround-row-online{
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    width: 360px;
    height: 125px;
    left: 428px;
    top: 300px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}



.small-picktire-centre {
    width: 406px;
    height: 310px;
    margin-top: -20px;
}

/*--------------Row Selection3--------*/

.row-three{
position: absolute;
width: 1128px;
height: 420px;
left: 156px;
top: 1224px;
}

.img-three-three{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 30px;
    position: absolute;
    width: 360px;
    height: 56px;
    left: 580px;
    top: 1300px;
}

.row-three-title{
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

letter-spacing: 0.02em;

color: #2E2F42;

flex: none;
order: 0;
flex-grow: 0;
}

.row-three-text{
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;

color: #434455;

flex: none;
order: 1;
flex-grow: 0;
}

.backround-row-inst{
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    width: 360px;
    height: 125px;
    left: -375px;
    top: 300px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}

.backround-row-organic{
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    width: 360px;
    height: 125px;
    left: 17px;
    top: 300px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}

.backround-row-fresh{
    box-sizing: border-box;
    position: absolute;
    padding-left: 20px;
    width: 360px;
    height: 125px;
    left: 406px;
    top: 300px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}

/*--------------FOOTER-PORTFOLIO------------*/

.footer-portfolio{
    margin-top: -350px;

}